[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

tox = "*"
pytest = "*"
mypy = "*"
pylint = "*"
"flake8" = "*"
"pytest-cov" = "*"
"flake8-import-order" = "*"
docker = "*"

[packages]

click = "*"
"beautifulsoup4" = "*"
pendulum = "*"
pyyaml = "*"
requests = "*"
logzero = "*"
"matrix-client" = "*"
pillow = "*"